@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/*-------mapa generado----------*/
/*se aplica @include en el archivo _titulos.scss*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*--------------se aplica map-get--------------*/
body {
  background-image: radial-gradient(#c1aa8b, white); }

main p {
  font-size: 1.25rem;
  font-family: 'Righteous', cursive;
  text-align: justify;
  color: darkslategrey;
  margin: 30px; }

.row p {
  text-align: center;
  margin: 10px; }

/*GRID-INDEX*/
.grilla {
  height: 100vh;
  display: grid;
  grid-template-areas: "nav nav" "header header" "main aside" "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

main {
  grid-area: main; }

aside {
  grid-area: aside; }

footer {
  grid-area: footer; }

/*GRID-INFORMACIÓN*/
.grilla__informacion {
  height: 100vh;
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/*GRID-ENVIOS*/
.grilla__envios {
  height: 100vh;
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/*GRID-CONTACTO*/
.grilla__contacto {
  height: 100vh;
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr; }

nav {
  grid-area: nav; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.logo {
  height: auto;
  width: 70px; }
  .logo:hover {
    transform: scale(1.3); }

nav {
  border-radius: 10px; }
  nav ul {
    text-align: center;
    list-style: none;
    padding-left: 0px; }

h1 {
  height: 150px;
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  color: lightgrey;
  font-family: 'Righteous', cursive;
  background-image: url(../imagenes/vintagefondo1280.jpg); }

/*-----------------------se aplica mixin en h2 y h3-------------------------*/
h2 {
  font-size: 1.25rem;
  color: #a1541c;
  font-family: 'Righteous', cursive;
  padding: 5px;
  margin: 10px;
  text-align: center; }

h3 {
  font-size: 1.25rem;
  color: #a1541c;
  font-family: 'Righteous', cursive;
  padding: 5px;
  margin: 10px;
  text-align: center; }

h4 {
  margin-left: 20px; }

.containerVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; }
  .containerVideo iframe {
    width: 100%; }

.sectionCategorias {
  background-color: burlywood;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  padding: 25px; }

.contenedorCategorias ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0px; }

.contenedorCategorias li {
  padding: 10px;
  margin: 5px;
  border: 1px solid darkslategrey;
  border-radius: 10px;
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

.imgFinal {
  height: auto;
  width: 100%;
  padding: 20px; }

.sectionDestacados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: burlywood; }

.imgDestacados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px; }
  .imgDestacados img {
    margin: 20px;
    height: 40vh; }

.hover13 img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s; }

@-webkit-keyframes flash {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

@keyframes flash {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

footer {
  background-color: burlywood;
  height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px; }

.redesSociales a {
  margin: 10px;
  opacity: 0.7; }
  .redesSociales a svg:hover {
    transform: scale(1.1); }

/*------------------------se aplica extend en textarea---------------------------*/
.contenedorContacto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 20px; }
  .contenedorContacto iframe {
    padding: 20px;
    width: 100%; }
  .contenedorContacto form {
    background-color: beige;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: sans-serif;
    color: darkslategrey;
    padding: 20px;
    margin: 20px; }
  .contenedorContacto input, .contenedorContacto textarea {
    display: block;
    width: 90%;
    margin: 10px;
    padding: 10px; }
  .contenedorContacto textarea {
    height: 130px; }
  .contenedorContacto .botonContacto {
    padding: 10px 20px;
    color: #a1541c;
    background-color: powderblue;
    border-radius: 5px;
    border: none; }

/*MEDIA QUERIES*/
/*mobile*/
@media screen and (max-width: 480px) {
  /*seccion-inicio*/
  .grilla {
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "header" "aside" "main" "footer"; }
  body {
    margin: 0px;
    width: 100%; }
  .containerVideo {
    display: none; }
  .sectionDestacados {
    display: none; }
  main {
    justify-content: center;
    align-items: center;
    padding: 10px; }
  .fotoMadera p {
    display: none; }
  /*seccion-informacion*/
  /*seccion-envios*/
  .grilla__envios {
    grid-template-areas: "nav" "header" "main" "footer"; }
  /*seccion-contacto*/
  .grilla__contacto {
    grid-template-areas: "nav" "header" "main" "footer"; }
  .contenedorContacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%; } }

/*tablet*/
@media screen and (min-width: 481px) {
  /*seccion-inicio*/
  .grilla {
    grid-template-areas: "nav" "header" "main" "aside" "footer";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr; }
  /*seccion-contacto*/
  .contenedorContacto {
    display: flex;
    flex-direction: row;
    padding: 0%; }
  .contenedorContacto iframe {
    width: 100%; } }

/*desktop*/
@media screen and (min-width: 1024px) {
  /*seccion-inicio*/
  .grilla {
    grid-template-areas: "nav nav" "header header" "main aside" "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr; }
  .imgDestacados img:hover {
    transform: scale(1.3); }
  .contenedorContacto {
    display: flex;
    flex-direction: row; } }
