* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: honeydew;
    margin: 20px 20px;
}

/*ACA COMIENZA EL HEADER*/
.logi {
    width: 70px;
    position: absolute;
    top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*NAVEGADOR*/
nav {
    background-color: burlywood;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    position: relative;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

.list1 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    margin: 0px 10px;
    padding: 5px;
}

.list1:hover {
    opacity: .3;
}

ul {
    text-align: center;
    list-style: none;
}

h1 {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    color: darkslategray;
    font-size: 4rem;
    font-family: 'Syncopate', sans-serif;
}

/*ACA TERMINA EL HEADER*/
/*COMIENZA EL MAIN*/
h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    color: darkslategrey;
    width: 90%;
    margin-left: 20px;
    margin: 20px;
}

.containerVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.sectionCategorias {
    background-color: burlywood;
    border-radius: 10px;
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin: 50px;

}

.sectionCategorias h4 {
    text-align: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
    padding: 5px;
    margin: 10px;
}

.contenedorCategorias ul li {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border: 1px solid darkslategrey;
    border-radius: 5px;

}

.sectionDestacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: solid burlywood;
}

h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

.imgDestacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.imgDestacados img {
    margin: 10px;
    height: 40vh;

}

.imgTodoslosproductos img {
    margin: 20px;
    height: 30vh;
}

/*TERMINA EL MAIN*/

/*ACA COMIENZA EL FOOTER*/
footer {
    background-color: burlywood;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.list2 {
    color: darkslategrey;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    margin: 0px 10px;
    padding: 5px;
}

.contenedorContacto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.contenedorContacto iframe {
    padding: 20px;
    margin: 20px;

}

.contenedorContacto form {
    background-color: beige;
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
    color: darkslategrey;
    padding: 20px;
    margin: 20px;
}

.contenedorContacto input {
    display: block;
    width: 90%;
    margin: 10px;
    padding: 10px;

}

.contenedorContacto textarea {
    display: block;
    width: 90%;
    margin: 10px;
    padding: 10px;
}

.botonContacto {
    padding: 10px 20px;
    background-color: powderblue;
    border-radius: 5px;
    border: none;
}

/*GRID-INDEX*/
.grilla {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav nav"
        "header header"
        "main aside"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/*GRID-PRODUCTOS*/
.grilla__productos {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*GRID-INFORMACIÓN*/
.grilla__informacion {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*GRID-ENVIOS*/
.grilla__envios {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*GRID-CONTACTO*/
.grilla__contacto {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


/*MEDIA QUERIES-INDEX*/
/*mobile*/
@media screen and (max-width: 425px) {
    .grilla {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "header"
            "aside"
            "main"
            "footer"
    }

    .list1 {
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin: 5px;
    }

    .list2 {
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin: 5px;
    }


    main {
        justify-content: center;
        align-items: center;
    }

}

/*tablet*/
@media screen and (min-width: 420px) {
    .grilla {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
    }

    .list1 {
        font-size: 20px;
        margin: 5px;
    }

    .list2 {
        font-size: 20px;
        margin: 5px;
    }

}

/*desktop*/
@media screen and (min-width: 1024px) {
    .grilla {
        grid-template-areas:
            "nav nav"
            "header header"
            "main aside"
            "footer footer";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: auto 1fr;
    }

    .list1 {
        font-size: 25px;
        margin: 5px;
    }

    .list2 {
        font-size: 25px;
        margin: 5px;
    }

}

/*MEDIA QUERIES-PRODUCTOS*/
/*mobile*/
@media screen and (max-width: 425px) {
    .grilla__productos {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer"
    }

}

/*MEDIA QUERIES-INFORMACION*/
/*mobile*/
@media screen and (max-width: 425px) {
    .grilla__informacion {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer"
    }

}

/*MEDIA QUERIES-ENVIOS*/
/*mobile*/
@media screen and (max-width: 425px) {
    .grilla__envios {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer"
    }

}

/*MEDIA QUERIES-CONTACTO*/
/*mobile*/
@media screen and (max-width: 425px) {
    .grilla__contacto {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer"
    }

    .contenedorContacto {
        flex-wrap: wrap;
    }

}
