@import "./parciles/variables";
@import "./parciles/reset";
@import "./parciles/generales";  
@import "./parciles/grilla";
@import "./parciles/logi";
@import "./parciles/navegador";
@import "./parciles/titulos";
@import "./parciles/contenido";
@import "./parciles/footer";


/*SECCION CONTACTO*/
.contenedorContacto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
    & iframe {
        padding: 20px;
    }
    
    & form {
        background-color: beige;
        border-radius: 10px;
        font-size: 1.25rem;
        font-family: sans-serif;
        color: darkslategrey;
        padding: 20px;
        margin: 20px;
    }
    
    & input {
        display: block;
        width: 90%;
        margin: 10px;
        padding: 10px;
    }
    
    & textarea {
        display: block;
        width: 90%;
        margin: 10px;
        padding: 10px;
        height: 130px;
    }
    .botonContacto {
        padding: 10px 20px;
        color: rgb(161, 84, 28);
        background-color: powderblue;
        border-radius: 5px;
        border: none;
    }
}

/*GRID-PRODUCTOS*/
.grilla__productos {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*GRID-INFORMACIÓN*/
.grilla__informacion {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*GRID-ENVIOS*/
.grilla__envios {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*GRID-CONTACTO*/
.grilla__contacto {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


/*MEDIA QUERIES*/
/*mobile*/
@media screen and (max-width: 480px) {

    /*seccion-inicio*/
    .grilla {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "header"
            "aside"
            "main"
            "footer"
    }

    body {
        margin: 0px;
        width: 100%;
    }

    .containerVideo {
        margin: 5px;
    }

    .sectionDestacados {
        display: none;
    }

    .sectionCategorias {
        display: none;
    }

    .contenedorCategorias {
        display: none;
    }

    main {
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    /*seccion-productos*/
    .grilla__productos {
        display: flex;
        flex-direction: column;
    }

    .imgDestacados img {
        margin: 5px;
        height: 50vh;
        width: 100%;
    }

    .imgTodoslosproductos {
        display: flex;
        flex-direction: column;
    }

    .imgTodoslosproductos img {
        margin: 5px;
        height: 50vh;
        width: 100%;
    }

    /*seccion-informacion*/

    /*seccion-envios*/
    .grilla__envios {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer"
    }

    /*seccion-contacto*/
    .grilla__contacto {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer"
    }

    .contenedorContacto {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0%;
    }



}

/*tablet*/
@media screen and (min-width: 481px) {

    /*seccion-inicio*/
    .grilla {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
    }

    /*seccion-contacto*/
    .contenedorContacto {
        display: flex;
        flex-direction: row;
        padding: 0%;
    }

    .contenedorContacto iframe {
        width: 100%;
    }

}

/*desktop*/
@media screen and (min-width: 1024px) {

    /*seccion-inicio*/
    .grilla {
        grid-template-areas:
            "nav nav"
            "header header"
            "main aside"
            "footer footer";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: auto 1fr;
    }

    .contenedorContacto {
        display: flex;
        flex-direction: row;
    }

}