.containerVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    & iframe {
        box-shadow: 0.1rem 0.2rem 1rem 1px rgb(94, 90, 90);
        width: 100%;
    }
}

.sectionCategorias {
    background-color: $colorFondo;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 25px;
}

.contenedorCategorias {
    & ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 0;
            padding-left: 0px;
    }
    & li {
        padding: 10px;
        margin: 5px;
        border: 1px solid darkslategrey;
        border-radius: 10px;
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: black;
}

.imgFinal {
    height: auto;
    width: 100%;
    padding: 20px;
}

.sectionDestacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: $colorFondo;  
}

.imgDestacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    & img {
        box-shadow: 0.1rem 0.2rem 1rem 1px rgb(94, 90, 90);
        margin: 20px;
        height: 40vh;
    } 
}

.hover13 img {
    box-shadow: 0.1rem 0.2rem 1rem 1px rgb(94, 90, 90);
    border-radius: 5px;
}

.hover13 img:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}