/*GRID-INDEX*/
.grilla {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav nav"
        "header header"
        "main aside"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}



/*GRID-INFORMACIÓN*/
.grilla__informacion {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*GRID-ENVIOS*/
.grilla__envios {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*GRID-CONTACTO*/
.grilla__contacto {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}