
/*MEDIA QUERIES*/
/*mobile*/
@media screen and (max-width: 480px) {

    /*seccion-inicio*/
    .grilla {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "header"
            "aside"
            "main"
            "footer"
    }

    body {
        margin: 0px;
        width: 100%;
    }

    .containerVideo {
        display: none;
    }

    .sectionDestacados {
        display: none;
    }

    main {
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .fotoMadera p{
        display: none;
    }

    /*seccion-productos*/
    .grilla__productos {
        display: flex;
        flex-direction: column;
    }

    .imgDestacados img {
        margin: 5px;
        height: 50vh;
        width: 100%;
    }

    .imgTodoslosproductos {
        display: flex;
        flex-direction: column;
    }

    .imgTodoslosproductos img {
        margin: 5px;
        height: 50vh;
        width: 100%;
    }
    main p {
        margin: 10px;
        font-size: 1rem;
    }
   
    /*seccion-informacion*/

    /*seccion-envios*/
    .grilla__envios {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer"
    }

    /*seccion-contacto*/
    .grilla__contacto {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "footer"
    }

    .contenedorContacto {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0%;
    }
}

/*tablet*/
@media screen and (min-width: 481px) {

    /*seccion-inicio*/
    .grilla {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
    }

    /*seccion-contacto*/
    .contenedorContacto {
        display: flex;
        flex-direction: row;
        padding: 0%;
    }

    .contenedorContacto iframe {
        width: 100%;
    }
}

/*desktop*/
@media screen and (min-width: 1024px) {

    /*seccion-inicio*/
    .grilla {
        grid-template-areas:
            "nav nav"
            "header header"
            "main aside"
            "footer footer";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: auto 1fr;
    }

    .imgDestacados img:hover {
        transform: scale(1.3);
    }

    .imgTodoslosproductos img:hover {
        transform: scale(1.3);
    }

    .contenedorContacto {
        display: flex;
        flex-direction: row;
    }

}