@mixin subtitulo {
    font-size: 1.25rem;
    color: $colorTitulos;
    font-family: 'Righteous', cursive;
    padding: 5px;
    margin: 10px;
    text-align: center;  
}

/*se aplica @include en el archivo _titulos.scss*/