h1 {
    height: 150px;
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    color: lightgrey;
    font-family: 'Righteous', cursive;
    background-image: url(../imagenes/vintagefondo1280.jpg);
}
/*-----------------------se aplica mixin en h2 y h3-------------------------*/
h2 {
  @include subtitulo;
}

h3 {
   @include subtitulo;
}

h4 {
  margin-left: 20px;
}